extends ../layouts/home.pug

block header
  include ../includes/home-header.pug

block styles
  link(rel="stylesheet", href="/styles/auth/admin-login.css")

block content
  h2 Admin login
  form.medium-form(action="/admin-login",method="POST")
    .form-control
      label(for="email") Email
      input(type="email",name="email")#email
    .form-control
      label(for="password") Password
      input(type="password",name="password")#password
    button.btn(type="submit") Login 
  