extends ../layouts/main.pug

block header
  include ../includes/home-header.pug

block styles
  link(rel="stylesheet", href="/styles/auth/new-password.css")

block content
  h2 Update your password
  .messagesContainer
    each error in errors
      p.errorMessage= error
    each success in successes
      p.successMessage= success
    each valMsg in validationMessages
      p.errorMessage= valMsg.msg  
  form.medium-form(action="/newPassword",method="POST")
    .form-control
      label(for="newPassword") New Password
      input(type="password",name="newPassword",value= autoFill.newPassword,class= validationMessages.find(valMsg => valMsg.param === "newPassword") ? 'invalid' : '')#newPassword
    .form-control
      label(for="confirmNewPassword") Confirm New Password
      input(type="password",name="confirmNewPassword",value= autoFill.confirmNewPassword,class= validationMessages.find(valMsg => valMsg.param === "confirmNewPassword") ? 'invalid' : '')#confirmNewPassword
    input(type="hidden", name="_csrf",value= csrfToken)
    input(type="hidden", name="token",value= token)
    button.btn(type="submit") Submit 
  