extends ../layouts/main.pug

block header
  include ../includes/home-header.pug

block styles
  link(rel="stylesheet", href="/styles/auth/reset.css")

block content
  h2 Enter your email
  form.medium-form(action="/reset",method="POST")
    .form-control
      label(for="email") Email
      input(type="email",name="email",value= autoFill.email,class= validationMessages.find(valMsg => valMsg.param === "email") ? 'invalid' : '')#email
    input(type="hidden", name="_csrf",value= csrfToken)
    button.btn(type="submit") Submit 
  