extends ../layouts/home.pug


block header
  include ../includes/home-header.pug

block styles
  link(rel="stylesheet", href="/styles/auth/signup.css")

block content
  h2 Signup
  .messagesContainer
    each error in errors
      p.errorMessage= error
    each success in successes
      p.successMessage= success
    each valMsg in validationMessages
      p.errorMessage= valMsg.msg  
  form.medium-form(action="/signup",method="POST")
    .form-control
      label(for="email") Please enter your e-mail
      input(type="email",name="email")#email
    .form-control
      label(for="name") Please enter your full name
      input(type="text",name="name")#name
    .form-control
      label(for="password") Password
      input(type="password",name="password")#password
    .form-control
      label(for="confirmPassword") Enter the password again
      input(type="password",name="confirmPassword")#confirmPassword
      input(type="hidden", name="_csrf",value= csrfToken)      
    button.btn(type="submit") Signup
  