extends ../layouts/admin-main-layout.pug

block styles
  link(rel="stylesheet", href="/styles/admin/products.css")

block content
  h1.text_center All products
  if prods.length > 0
    .grid
      each product in prods 
        article(class="card product-item") 
          header.card__header
            h1.product__title= product.title
          .card__image
            img( src= product.imageUrl , alt= product.title, srcset="")
          .card__content
            h2.product__price #{product.price}$
            p.product__description=  product.description
          .card__actions
            a(href="/admin/edit-product/" + product._id).btn Edit Product
            a(href="/admin/view-product/" + product._id).btn View product
            form(action="/admin/delete-product", method="POST")
              input(type="hidden", name="id",value= product._id,id="productId")
              button(type="submit").btn Delete Product
  else
    p.text_center: b No products exist yet
block scripts
  script(src="/js/admin/products.js")