if pages
  section.pagination
    .buttonsContainer
      if(currentPage === 1)
        a.active(class="firstPage",href= "?page=" + 1) <<1
      else
        a(class="firstPage",href= "?page=" + 1) <<1
      each page in pages
        if(page === currentPage)
          a.active(href= "?page=" + page) #{page}
        else
          a(href= "?page=" + page) #{page}

      if(currentPage === lastPage)
        a.active(class="lastPage",href= "?page=" + lastPage) #{lastPage}>>
      else 
        a(class="lastPage",href= "?page=" + lastPage) #{lastPage}>>
    form(action="", method="get")
      label(for="page") #[b Jump to] 
      input(type="text",name="page",id="page")
      button.btn(type="submit") Go