.backdrop
header.main-header
  button#side-menu-toggle Menu
  nav.main-header__nav
    ul.main-header__item-list
      li.main-header__item
        a(href="/user/welcome",class = active ==='welcome' ? 'active' :'') Dashboard
      li.main-header__item
        a(href="/user/shop",class = active==='shop' ? 'active' :'') Shop
      li.main-header__item
        a(href="/user/products" class = active==='products' ? 'active' : '' ) Products
      li.main-header__item
        a(href="/user/cart" class = active==='cart' ? 'active' : '' ) Cart
      li.main-header__item
        a(href="/user/orders" class = active==='orders' ? 'active' : '' ) Orders
    li.main-header__item
      form.logout_form(action='/logout',method='POST')
        input(type="hidden", name="_csrf",value= csrfToken)
        button(type="submit").hidden_btn Logout
    
nav.mobile-nav
  ul.mobile-nav__item-list
    li.mobile-nav__item
      a(href="/user/welcome",class = active ==='welcome' ? 'active' :'') Dashboard
    li.mobile-nav__item
      a(href="/user/shop",class = active ==='shop' ? 'active' :'') Shop
    li.mobile-nav__item
      a(href="/user/products",class = active ==='products' ? 'active' :'') Products
    li.mobile-nav__item
      a(href="/user/cart",class = active ==='cart' ? 'active' :'') Cart
    li.mobile-nav__item
      a(href="/user/orders" class = active==='orders' ? 'active' : '' ) Orders
  li.mobile-nav__item
    form.logout_form(action='/logout',method='POST')
      input(type="hidden", name="_csrf",value= csrfToken)
      button(type="submit").hidden_btn Logout  