<!DOCTYPE html>
html(lang="en"): head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title #{pageTitle}
  block styles
  link(rel="stylesheet", href="/styles/layouts/main.css")

body(class= enableSidebar ? 'sidebarEnabled' : '')
  header.main-header
    button#side-menu-toggle Menu
    nav.main-header__nav
      ul.main-header__item-list
        li.main-header__item
          a(href="/",class = active ==='welcome' ? 'active' :'') Home
      ul.main-header__item-list
        li.main-header__item
          a(href="/login" class = active==='login' ? 'active' : '' ) Login
        li.main-header__item
          a(href="/signup" class = active==='signup' ? 'active' : '' ) Sign Up
    nav.mobile-nav
      ul.mobile-nav__item-list
        li.mobile-nav__item
          a(href="/",class = active ==='welcome' ? 'active' :'') Home
      ul.mobile-nav__item-list
        li.mobile-nav__item
          a(href="/login",class = active ==='login' ? 'active' :'') Login 
        li.mobile-nav__item
          a(href="/signup" class = active==='signup' ? 'active' : '' ) Signup
  .sidebar
    block sidebar
  main
    block content
    block scripts
