<!DOCTYPE html>
html(lang="en"): head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title #{pageTitle}
  block styles
  link(rel="stylesheet", href="/styles/layouts/main.css")
  link(rel="stylesheet", href="/styles/layouts/button.css")
  link(rel="stylesheet", href="/styles/layouts/flash.css")

body(class= enableSidebar ? 'sidebarEnabled' : '')
  block header
  .sidebar
    block sidebar
  main
    .messagesContainer
      if errors
        each error in errors
          p.errorMessage= error
      if successes
        each success in successes
          p.successMessage= success
      if validationMessages
        each valMsg in validationMessages
          p.errorMessage= valMsg.msg

    block content
    block scripts
    script(src="/js/main.js")
