<!DOCTYPE html>
html(lang="en"): head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title #{pageTitle}
  link(rel="stylesheet", href="/styles/main.css")
  block styles
body
  header.main-header
    a(href="/"): img(src="/images/shopLogo.svg",alt="shop logo")
    nav.main-header__nav
      ul.main-header__item-list
        li.main-header__item
          a(href="/",class = active==='shop' ? 'active' :'') Shop
        li.main-header__item
          a(href="/add-product" class = active==='add-product' ? 'active' : '' ) Add Product
  main: block content