<!DOCTYPE html>
html(lang="en"): head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title #{pageTitle}
  link(rel="stylesheet", href="/styles/main.css")
  block styles
body
  .backdrop
  header.main-header
    button#side-menu-toggle Menu
    nav.main-header__nav
      ul.main-header__item-list
        li.main-header__item
          a(href="/user/welcome",class = active ==='welcome' ? 'active' :'') Dashboard
        li.main-header__item
          a(href="/user/shop",class = active==='shop' ? 'active' :'') Shop
        li.main-header__item
          a(href="/user/products" class = active==='products' ? 'active' : '' ) Products
        li.main-header__item
          a(href="/user/cart" class = active==='cart' ? 'active' : '' ) Cart
        li.main-header__item
          a(href="/user/orders" class = active==='orders' ? 'active' : '' ) Orders
        li.main-header__item
          a(href="/") Logout
        
      
  nav.mobile-nav
    ul.mobile-nav__item-list
      li.mobile-nav__item
        a(href="/user/welcome",class = active ==='welcome' ? 'active' :'') Dashboard
      li.mobile-nav__item
        a(href="/user/shop",class = active ==='shop' ? 'active' :'') Shop
      li.mobile-nav__item
        a(href="/user/products",class = active ==='products' ? 'active' :'') Products
      li.mobile-nav__item
        a(href="/user/cart",class = active ==='cart' ? 'active' :'') Cart
      li.mobile-nav__item
        a(href="/user/orders" class = active==='orders' ? 'active' : '' ) Orders
      li.mobile-nav__item
        a(href="/") Logout  
  .sidebar
    h3.text_center Notifications
  main 
    block content
    block scripts
    script(src="/js/main.js")