extends ./layouts/main.pug


block styles
  link(rel="stylesheet",href="/styles/welcome.css")

block header
  include includes/home-header.pug


block content
  .messagesContainer
    each error in errors
      p.errorMessage= error
    each success in successes
      p.successMessage= success
    each valMsg in validationMessages
      p.errorMessage= valMsg.msg  
  h1.text_center Welcome to awesome bookstore!