extends ./layouts/main.pug


block styles
  link(rel="stylesheet",href="/styles/welcome.css")

block header
  include includes/home-header.pug


block content
  h1.text_center Welcome to awesome bookstore!