extends ../layouts/user-main-layout.pug

block styles
  link(rel="stylesheet", href="/styles/user/orders.css")

block content
  .header
    h1.text_center Your orders:
  if orders.length > 0
    .orders
    - let counter = 0;
      each order in orders
        - counter++;
        h2 Order: #{counter} 
        .order__container
          each item in order.items
            .item__container
              .product__container
                p.title #{item.title} 
                img(src= item.imageUrl)   
                p.price #{item.price}$ 
                input(type="hidden",id="productId",value= item._id)
              .info__container
                p.quantity Quantity: #{item.quantity}
  else
    h4.text_center No orders yet
block scripts
  script(src="/js/user/orders.js")
  
