extends ../layouts/user-main-layout.pug

block styles
  link(rel="stylesheet", href="/styles/user/products.css")

block content
  h1 All products
  if prods.length > 0
    .grid
      each product in prods 
        article(class="card product-item")
          header.card__header
            h1.product__title= product.title
          .card__image
            img( src= product.imageUrl , alt= product.title, srcset="")
          .card__content
            h2.product__price #{product.price}$
            p.product__description=  product.description
          .card__actions
            a(href="/user/view-product/" + product.id).btn View product
            form(action="/user/add-cart", method="post")
              input(type="hidden", name="id",value=product.id,id="productId")
              button(type="submit").btn Add to Cart
  else
    p: b No products exist yet
block scripts
  script(src="/js/user/products.js")