extends ../layouts/main.pug

block header
  if userLoggedIn
    include ../includes/user-header.pug
  else if adminLoggedIn
    include ../includes/admin-header.pug
  else
    include ../includes/home-header.pug

block styles
  link(rel="stylesheet", href="/styles/500.css")

block content
  h1 Oops, something went wrong, we are working on the issue to fix it soon.
  if userLoggedIn
    a(href="/user/welcome") Go to the main page
  else if adminLoggedIn
    a(href="/admin/welcome") Go to the main page
  else
    a(href="/") Go to the main page
