@import '../layouts/variables.css';
@import '../layouts/card.css';
.card {
    width: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "content buttons";
}

.card__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.products__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 95%
}

.card__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__image img {
    max-width: 400px;
    max-height: 200px;
}

.card__actions {
    justify-content: center;
    grid-area: buttons;
    width: 100%;
    padding: 0;
}

.card__actions button,
.card__actions a {
    margin: 0px 5px 10px 5px;
}

.card__actions form .btn {
    width: 100%;
}


.checkout__container {
    text-align: center;
}

.price {
    font-size: 3rem;
}

.checkout__btn {
    font-size: 2rem;
}
.product__quantity{
    text-align: center;
}
@media (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products__list{
        width: 90vw;
    }
    .card__image img {
        max-width: 100%;
        max-height: 100%;
    }
}