@import '../variables.css';

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  background-color: darksalmon;
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__header,
.card__content {
  padding: 1rem;
}
.products__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.card__image img {
  max-width: 400px;
  max-height: 200px;
}

.card__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid var(--firstColor);
  color: var(--firstColor);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--firstColor);
  color: white;
}
.disabled__btn {
  font: inherit;
  border: 1px solid var(--firstColor);
  color: var(--firstColor);
  background: white;
  border-radius: 3px;
  cursor: not-allowed;
}




.product-item {
  height: auto;
  margin: 1em 0em;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: black;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
  
}
.product__quantity{
  text-align: center;
  font-weight: bold;
}
.checkout__container{
  text-align: center;
}
.price{
  font-size: 3rem;
}
.checkout__btn{
  font-size: 2rem;
}