@import '../variables.css';


.orders {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-gap: 20px;
  grid-row-gap: 100px;
}

.header{
  height: 10rem;
}
.order__container{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 600px){
  .orders {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order__container{
    margin: 10px 0px;
  }
}



.order__container img{
  width: 100%;
  flex-grow: 1;
}
.product__container{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  flex-grow: 1;
  background-color: darksalmon;
}
.info__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid darksalmon;
  height: auto;
  font-size: 1.5rem;
}
.title{
  font-size: 2rem;
}