@import '../variables.css';

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  background-color: darksalmon;
  padding: 5px;
}
.card__header,
.card__content {
  padding: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-column-gap: 15px;
  grid-row-gap: 40px;
}
@media (max-width: 600px){
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid var(--firstColor);
  color: var(--firstColor);
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: var(--firstColor);
  color: white;
}

.product-item {
  width: 15em;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: black;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
  
}