<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to assignment 3</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">
        Homepage
      </a>
      <a href="/users">
        Users
      </a>
    </nav>
    <h1>Assignment 3 Home</h1>
  </header>
  <main>
    <p id="counter">0</p>
    <button onclick="count()">counter</button>
  </main>
  <script src="/global.js"></script>
</body>
</html>