.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: rgb(1, 44, 78);
  padding: 0 1.5rem;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
main {
  padding: 1rem;
  background-color: lightyellow;
  height: 100%;
}
html,body{
  height: 100%;
}
.main-header__item-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
.main-header__item {
  margin: 0px 1rem;
  padding: 0px;
}
.main-header__item a {
  text-decoration: none;
  color: rgb(199, 21, 51);
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: rgb(220, 243, 8);
}
