html, body {
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}
main h1{
  color: red;
  font-size: 3rem;
}
main a{
  color: rgb(1, 44, 78);
  font-size: 2rem;
}