@import 'layouts/variables.css';
@import 'layouts/flash.css';

.header{
  justify-content: space-between;
}
body{
  grid-template-areas: "header" "content" !important;
  grid-template-columns: auto !important; 
}

@media (max-width: 600px) {
  .login__buttons{
    height: auto;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}