@import 'layouts/variables.css';
@import 'layouts/button.css';

.login__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: auto;
}
.login__buttons a {
  margin: 1rem;
}
.header{
  justify-content: space-between;
}
body{
  grid-template-areas: "header" "content" !important;
  grid-template-columns: auto !important; 
}

@media (max-width: 600px) {
  .login__buttons{
    height: auto;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}