@import "../layouts/variables.css";

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid var(--firstColor);
  color: var(--firstColor);
  border-color: rgb(37, 37, 37);
  border-radius: 3px;
  cursor: pointer;
  background-color: lightblue;
}

.btn:hover,
.btn:active {
  background-color: var(--firstColor);
  color: white;
}
.disabled__btn {
  font: inherit;
  border: 1px solid var(--firstColor);
  color: var(--firstColor);
  background: white;
  border-radius: 3px;
  cursor: not-allowed;
}
.hidden_btn {
  background-color: transparent;
  color: var(--headerLinkColor);
  border: none;
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
}
.hidden_btn:hover {
  color: var(--headerActiveLinkColor);
  background-color: transparent;
}
@media (max-width: 600px) {
  .hidden_btn {
    color: white;
    font-size: 1.5rem;
  }
}
