.form-control label,input,textarea
{
  display: block;
  width: 100%;
}
.form-control input,textarea {
  border: 1px solid rgb(1, 44, 78);
  font: inherit;
  border-radius: 8px;
}
.form-control textarea {
  resize: none;
}
button {
  font: inherit;
  border: 1px solid black;
  background: rgb(220, 243, 8);
  border-radius: 5px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: gray;
  color: rgb(220, 243, 8);
}
.form-control {
  margin: 1rem 0;
}