:root{
  --firstColor: rgb(46, 41, 0);
  --headerLinkColor: rgb(255, 255, 255);
  --headerActiveLinkColor: rgb(187, 255, 0);
  --sidebarBackground: rgba(85, 85, 85, 0.507);
  --sidebarWidth: 20%;
  --navigationBackground: darksalmon;
}